.search-box{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
}
#login{
    background-image: url('loginImg.jpg');
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-repeat:no-repeat;
    background-size:100% 100vh;
}