.search-box{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 15px;
}

.reg-form{
    background-color: aliceblue;
    padding: 25px;
    margin-top: 50px;
}

.info-form{
    background-color: aliceblue;
    padding: 25px;
    margin-top: 25px;
}

#login{
    background-image: url('loginImg.jpg');
    /*position: absolute;*/
    top: 0; right: 0; bottom: 0; left: 0;
    background-repeat:no-repeat;
    background-size:100% 100vh;
}

.profile_info_short {
    padding-top: 10px;
}

.profile_info {
    line-height: 150%;
}

.clear_fix {
    display: block;
}

.clear_fix:after {
    content: '.';
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

.label {
    width: 165px;
    color: #828282;
}

.labeled {
    overflow: hidden;
    text-overflow: ellipsis;
}

.fl_l {
    float: left;
}

.profile_info_row {
    padding-top: 5px;
}

.line{
    border-top: 1px solid #e7e8ec;
    padding: 20px;
}
