<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">
  <context-param>
    <param-name>com.auth0.domain</param-name>
    <param-value>dev-to9frjr6.auth0.com</param-value>
  </context-param>

  <context-param>
    <param-name>com.auth0.clientId</param-name>
    <param-value>AbKhQ4YZ1c0EL6E6eoC7aHy4UEeFpiJp</param-value>
  </context-param>

  <context-param>
    <param-name>com.auth0.clientSecret</param-name>
    <param-value>ipMNuS_sHeaizcylKbJxWZgHxPYipGvCp-LuRoVhbD85BoCryiSPF84AP4-aQDGo</param-value>
  </context-param>

  <context-param>
    <param-name>auth0.scope</param-name>
    <param-value>openid profile email</param-value>
  </context-param>

  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://domainA.com,https://domainA.com,http://localhost:3000</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type,X-Requested-With,Accept,Accept-Encoding,Accept-Language,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Connection,Host,authorization</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>

